@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:wght@400;700&family=Noto+Rashi+Hebrew:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700&family=Nunito:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mycontainer {
  margin: 10px 15px !important;
  padding-bottom: 30px;
}

.header {
  width: 100%;
  margin-bottom: -10px;
}

.Lora, .logo {
  font-family: 'Lora', serif;
}

.Noto {
  font-family: 'Noto Serif', serif;
}

.Merri {
  font-family: 'Merriweather', serif;
}

.Nunito {
  font-family: 'Nunito';
}

.Rashi {
  font-family: 'Noto Rashi Hebrew', serif;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.lightbulb path {
  stroke-width: 2px !important;
}
.lightbulb {
  font-size: 24px;
  display:inline;
  margin-bottom:5px;
  width: 28px;
  padding-right: 1px;
}

.sun path {
  stroke-width: 2.3px !important;
}
.sun {
  font-size: 24px;
  display:inline;
  margin-bottom:5px;
  width: 28px;
  padding-right: 1px;
}

.sparkle path {
  stroke-width: 1.6px !important;
}

.sparkle {
  font-size: 24px;
  display:inline;
  margin-bottom:5px;
  width: 28px;
  padding-right: 1px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.ql-container {
  font-size: inherit !important;
  font-family: 'Merriweather', serif !important;
}

textarea:focus, input:focus{
  outline: none;
}

.ql-editor{
  min-height:500px;
}

body {
  background-color: #FEF8EB3F !important;
}

.darkenlayer {
  background-color: #FDF6E37F;
}

.redlayer {
  background-color: #ff84010a;
}
.bluelayer {
  background-color: #4c95fb0a;
}
.greenlayer {
  background-color: #1be2490a;
}

input[type="text"]
{
    background: transparent;
}
input[type="password"]
{
    background: transparent;
}